<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Entertainment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let result of results" (click)="openWebView(result.url)">
    <ion-card-header>
      <ion-card-subtitle>{{ result.source.name }}</ion-card-subtitle>
      <img [src]="result.image" />
      <ion-card-title>{{ result.title }}</ion-card-title>      
      <div class="published">
        <span class="published_at">{{ result.publishedAt }}</span>
      </div>
    </ion-card-header>
    <ion-card-content>{{ result.content }}</ion-card-content>
  </ion-card>
</ion-content>
